<footer class="absolute inset-x-0 bottom-0 flex justify-between w-full text-muted mt-20 items-center gap-x-4 py-4 max-w-screen-xl mx-auto">
    <div class="text-xs font-mono font-semibold">
        {{ getVersion }} @ {{ getDbType }}
    </div>
    <div class="font-semibold text-sm">
        由 &nbsp; <span class="iconify inline" data-icon="bi:heart-fill"></span>&nbsp; <a href="https://muetsch.io" target="_blank" class="text-secondary hover:text-foreground">Ferdi</a> 用心打造
        <span>&nbsp;|&nbsp;</span>
        在 &nbsp; <a href="https://github.com/muety/wakapi" target="_blank" rel="noreferrer noopener"><span class="iconify inline text-secondary hover:text-foreground" data-icon="codicon:github-inverted"></span></a> 上开源
        {{ if eq getPublicUrl "https://wakapi.dev" }}
        <span>&nbsp;|&nbsp;</span>
        安全托管于 &nbsp; <span class="iconify inline" data-icon="twemoji:flag-germany"></span>
        {{ end }}
    </div>
    <div class="text-sm">
        <a href="imprint" class="font-semibold hover:text-secondary">法律声明、Cookie 与隐私政策</a>
    </div>
</footer>
