<!DOCTYPE html>
<html lang="zh-CN">

{{ template "head.tpl.html" . }}

<script>
    // Constants
    const defaultAvatarUrl = 'assets/images/unknown.svg'
    const avatarUrlTemplate = {{ avatarUrlTemplate }}

    function guessTimezone() {
        return Intl.DateTimeFormat().resolvedOptions().timeZone
    }
</script>
<script type="module" src="assets/js/components/signup.js"></script>

<body class="bg-background text-muted p-4 pt-10 flex flex-col min-h-screen max-w-screen-lg mx-auto justify-center">

{{ template "header.tpl.html" . }}

{{ template "alerts.tpl.html" . }}

<main class="mt-10 grow flex justify-center w-full" id="signup-page">
    <div class="grow max-w-lg mt-10">
        <div class="mb-8">
<h1 class="h1">注册 Wakapi</h1>
            <p class="text-secondary">
                欢迎使用 Wakapi！您的第一步是创建一个账户。
                之后，请确保设置好 <a href="https://wakatime.com" target="_blank" rel="noopener noreferrer" class="text-foreground hover:text-secondary">WakaTime</a> 客户端工具。
                相关说明可以在我们的<a href="setup" class="text-foreground hover:text-secondary">设置说明</a>和 <a href="https://github.com/muety/wakapi#-client-setup" target="_blank"
                                   rel="noopener noreferrer"
                                   class="text-foreground hover:text-secondary">README</a> 中找到。
            </p>
        </div>
        <div>

        </div>

        <form class="mt-10" action="signup" method="post">
            <input type="hidden" name="location" id="input-location" v-model="timezone">
            <input type="hidden" name="captcha_id" value="{{ .CaptchaId }}">
            <input type="hidden" name="invite_code" id="input-invite-code" value="{{ .InviteCode }}">

            <div class="flex space-x-4">
                <div class="mt-1">
                    <img v-cloak id="avatar" :src="avatarUrl" width="96px" class="rounded-full border-4 border-accent cursor-pointer" alt="用户头像" title="您的头像"/>
                </div>

                <div>
                    <div class="mb-4">
                        <input class="input-default"
                               v-model="username"
                               type="text" id="username"
                               name="username" placeholder="请输入用户名" minlength="1"
                               @keyup="updateAvatar"
                               required autofocus>
                    </div>
                    <div class="mb-4">
                        <input class="input-default"
                               v-model="email"
                               type="email" id="email"
                               name="email" @keyup="updateAvatar" placeholder="您的邮箱地址">
                        <div class="text-xs text-muted mt-2">邮箱地址为可选项，但每周报告和密码重置功能需要使用。</div>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <input class="input-default"
                       type="password" id="password"
                       name="password" placeholder="请输入密码" minlength="6" required>
            </div>
            <div class="mb-4">
                <input class="input-default"
                       type="password" id="password_repeat"
                       name="password_repeat" placeholder="再次输入密码..." minlength="6" required>
            </div>
            {{ if .CaptchaId }}
            <div class="mb-4 flex">
                <img id="captchaimage" src="api/captcha/{{.CaptchaId}}.png" class="rounded-md" style="max-height: 64px; background: rgba(255, 255, 255, 0.75)" alt="Captcha image">
                <div class="flex-grow flex-col ml-4">
                    <input class="input-default"
                           v-model="captcha"
                           type="text" id="captcha"
                           name="captcha" placeholder="验证码"
                           required>
                    <div class="text-xs text-muted mt-1 ml-1 underline"><a href="https://github.com/muety/wakapi/issues/635" target="_blank" rel="noreferrer noopener">为什么我看到这个？<a></div>
                </div>
            </div>
            {{ end }}

            {{ if eq .TotalUsers 0 }}
<p class="text-sm text-foreground mt-4 mb-8">
                ⚠️ <strong>请注意：</strong>由于系统中尚无注册用户，第一个用户将拥有管理员权限，其他用户则没有。
            </p>
            {{ end }}

            <div class="flex space-x-2 justify-end">
                <a href="login">
                    <button type="button" class="btn-default">登录</button>
                </a>
                {{ if or (.AllowSignup) (ne .InviteCode "") }}
<button type="submit" class="btn-primary">
                    创建账户
                </button>
                {{ else }}
<button type="submit" class="btn-disabled" disabled title="此实例的管理员已禁用注册功能。">
                    创建账户
                </button>
                {{ end }}
            </div>
        </form>

        {{ if len .OidcProviders }}
        <div class="mt-10">
            <div class="font-semibold mb-2 text-secondary">单点登录</div>
            {{ range $provider := .OidcProviders }}
            <a href="oidc/{{ $provider.Name | lower }}/login" class="block mb-2">
                <button type="button" class="btn-default w-full flex items-center gap-2 justify-center">
                    {{ if $.OidcProviderIcon $provider.Name }}
                    <span class="iconify inline text-white text-base" data-icon="{{ ($.OidcProviderIcon $provider.Name) | urlSafe }}"></span>
                    {{ end }}
                    使用 {{ $provider.DisplayName }} 注册
                </button>
            </a>
            {{ end }}
        </div>
        {{ end }}
    </div>
</main>

{{ template "footer.tpl.html" . }}

{{ template "foot.tpl.html" . }}

</body>

</html>
